<div class="container">
  <div class="container-fluid">
    <div style="margin-bottom: 2%"></div>
  
    <div style="margin-bottom: 2%"></div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class=" col-md-6 text-center">
        <h1>welcom</h1>
        <h4>Made with love</h4>
        <h6>By saber mekki</h6>
        <a  *ngIf="!userService.connectedUser" class="btn btn-primary" routerLink="/login"> Sign in  </a> <a class="btn btn-success"  *ngIf="!userService.connectedUser" routerLink="/register"> Sing up</a>
  <a  *ngIf="userService.connectedUser" class="btn btn-primary" routerLink="/list"> liste des sujets </a>
    -->   
    </div>
    </div>

  </div>
</div>
